nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 10px black;
  /* margin: 0px; */
  height: 80px;
  padding: 10px 60px;
  box-sizing: border-box;
}
.chinese {
  font-family: Noto Sans SC;
}
.App {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Open Sans;
}

h2 {
  /* margin: auto; */
  padding: 0px;
  text-align: center;
  font-size: xx-large;
}

.nav-section {
  display: flex;
  align-items: center;
}

h1.page-title {
  text-align: center;
}

.workspace {
  box-shadow: 0px 0px 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-grow: 1;
  background-color: #666;
  gap: 1px;
  grid-template-rows: 50% 50%;
  position: absolute;
  width: 100%;
  height: 100%;
}


.workspace-wrapper {
  position: relative;
  flex: 1 1 auto;
  margin: 0px 60px 2em;
}

img {
  max-height: 100%;
  max-width: 100%;
}



.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.workspace > * {
  background-color: white;
}

.control-panel div {display: flex;align-items: center;justify-content: center;font-size: xx-large;}

.workspace-view {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 3 / 3;
}
.workspace-view h2 {
  padding: .67em 0px;
  border-bottom: solid;
  margin: 0px;
}

ol.file-list {
  list-style: none;
  flex-grow: 1;
  font-family: 'Open Sans';
  font-size: x-large;
  overflow-y: scroll;
  padding-inline-end: 40px;
  margin: 0;
  padding-block-start: 1em;
  padding-block-end: 1em;
}

li {
  padding: 0.5em 1em;
}

li:nth-child(odd) {
  background-color: #eee;
}
li:nth-child(even) {
  background-color: #ddd;
}

.add-button,.merge-button,.custom-file-upload,.big-btn,.merge-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  cursor: pointer;
}
label.custom-file-upload {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  margin: 0.5ch;
}

.file-record {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
}
.add-button,.edit-buttons-container {
  grid-area: 1 / 1 / 2 / 2;
}
input[type="file"] {
  display: none;
}

.merge-button,.done-button {
  grid-area: 2 / 1 / 3 / 2;
}

.active,.btn {
  cursor: pointer;
}

.active {
  background-color: #4CBB17;

}

.active:hover {
  filter: brightness(1.3);
}
.inactive {
  cursor: not-allowed;
}

.edit-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  background-color: #666;
  grid-template-rows: 100%;
}

.big-btn {
  height: 100%;
}

.corner-tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(200,200,200,.5);
  padding: 0.1em 0.5em;
  pointer-events: none;
}

.big-btn, .merge-button {
  position: relative;
}

.merge-link {
  width: 100%;
  height: 100%;
}

.footnote {
  text-align: center;
  font-size: x-large;
  padding-block-end: .67em;
}

.doc-viewer {
  overflow: scroll;
  position: relative;
}

.doc-nav  {
  background-color: rgba(200,200,200,.5);
  z-index: 100;
  position: fixed;
  text-align: center;
  width: 100%;
}